@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
/* 
font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif;
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFF2F7;
}

body {
    background-image: linear-gradient(68.15deg, #2f2325 16.62%, #8E5D52 85.61%);
    font-size: 100%;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
header > img {
    height: 72px;
}
.cabecalho-menu {
    font-family: 'Sarala', sans-serif;
    color: #FFF2F7;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    gap: 32px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2F7;
}
.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}
.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}
.conteudo-principal-escrito-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.258);
    font-family: 'Sarala', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
}
.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}
.conteudo-principal-imagem {
    height: 430px;
}
.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.conteudo-secundario-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 30px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
}
.conteudo-secundario-paragrafo {
    font-family: 'Sarala', cursive;
    font-weight: 300;
    font-size: 18px;
}


.rodape {
    padding: 32px;
    border-top: 0.4px solid #fff2f777;
}
.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}