@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    background: url('../images/fundo-madeira.jpg') no-repeat top center fixed;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    background: url('../images/frame-iphone.png') no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
}

iframe#tela {
    position: relative;
    height: 471px;
    width: 267px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.479);
    box-sizing: border-box;
}
section#redes-sociais img:hover {
    border: 1px solid black;
    transform: translate(-1px, -1px);
    transition: transform .2s, border .5s;
}

section#redes-sociais {
    text-align: right;
}